header{
  background-color: rgb(233, 233, 233);
  height:215px;
  font-family: 'Lato', sans-serif;
}
.headerRowCont{
  padding-top:30px;
  // padding-left:15px;
}
.mesInfosBtn{
  background-color: #73C8D5;
}
.mesInfosBtn:hover{
  background-color: #268895;
}
.monProfilBtn{
  background-color: #A4D379;
}
.monProfilBtn:hover{
  background-color: #477819;
}
.seDeconnecterBtn{
  background-color: #F96D8A;
}
.seDeconnecterBtn:hover{
  background-color: #b11c3a;
}
button{
  font-size:125%;
}
.notifsBtn{
  color:#EB7990;
  font-size:150%;
}
.notifsNb{
  color:#EB7990;
}
.bold{
 font-weight: bold;
}
.networkBtn{
  background-color: #F9D959
}
// .fa-exclamation{
//   font-size:200%;
//   margin-top:8px;
// }
.fa-bell{
  font-size:225%;
  margin-top: 11px;
  color:#F9D959;
}
.circle{
  height:62px;
  width: 62px;
  border-radius: 50%;
  background-color:lightblue
}
.redNb{
  font-size:111%;
  top:5px;
  left:68px;
}
.notifSpan{
  font-size: 150%;
  color:#9c9c9c;
}
.headerSearchInput{
  font-size:150%;
}
.fa-sign-out{
  font-size:150%;
}
.disconnText{
  font-family: 'Lato', sans-serif;
}
