<!-- comment -->
<div class="container" *ngFor="let comment of comments">
  <div class="row my-2">
    <div class="col-1">
      <img
        [src]="comment.auteur?.photoProfilUrl"
        style="width: 40px; height: 40px; border-radius: 50%"
        alt="social-network-logo"
      />
    </div>
    <div class="col-11">
      <div class="row">
        <span class="col-6"
          >{{ comment.auteur.nomUtilisateur }} - Sans emploi actuellement</span
        >
        <span class="col-6 text-end">{{ comment.datePublication }}</span>
      </div>
      <div class="commentCont my-3 fst-italic fs-4">
        " {{ comment.contenu }} "
      </div>
    </div>
  </div>
  <div class="row mt-2 justify-content-between">
    <div class="col-2">
      <a href="">
        <i class="fa fa-thumbs-up me-2"> 350</i>
        <i class="fa fa-heart mx-2"> 88 </i>
        <i class="fa fa-smile-o mx-2"> 17</i>
      </a>
    </div>
    <div class="col-2 text-end">
      <!-- <a href="" class="answerCommentLink">
      <span class="">Répondre</span>
    </a> -->
    </div>
  </div>
  <hr />
</div>

<!-- end comment -->
