<div class="containerPost row mb-3 shadow1">
  <div class="col-2 ps-4">
    <div class="my-3">
      <a href="/" class="containerPostFirstColLink">
        <i class="fa fa-file-image-o"></i>
        <span class="ms-2 containerPostFirstColSpan">&nbsp;Photo</span>
      </a>
    </div>
    <div class="my-3">
      <a href="/" class="containerPostFirstColLink">
        <i class="fa fa-film"></i>
        <span class="ms-2 containerPostFirstColSpan">Vidéo</span>
      </a>
    </div>
    <div class="my-3">
      <a href="" class="containerPostFirstColLink">
        <i class="fa fa-newspaper-o"></i>
        <span class="ms-2 containerPostFirstColSpan">Article</span>
      </a>
    </div>
  </div>
  <div class="col-10 d-flex createPostCont">
    <div class="" style="width: 100%">
      <form>
        <div class="d-flex justify-content-center">
          <label for="makePost" class="visually-hidden"
            >Faire une publication</label
          >
          <input
            type="text"
            class="form-control makePostInput shadow1"
            placeholder="Faire une publication"
            style="width: 75%"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            readonly
          />
        </div>
      </form>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Créer une publication
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="" [formGroup]="createPostForm">
                <div class="row">
                  <div class="col-2">
                    <img
                      [src]="currentUser?.photoProfilUrl"
                      style="width: 70px; height: 70px"
                      alt="social-network-logo"
                      class="rounded-circle border border-danger"
                    />
                  </div>
                  <div class="col-10">
                    <h5 class="text-end">{{ currentUser?.nomUtilisateur }}</h5>
                    <div class="d-flex">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        formControlName="visibilite"
                      >
                        <option value="">--Sélectionnez la visibilité--</option>
                        <option value="true">Tout le monde</option>
                        <!-- <option selected value="false">Visibilité de la publication</option>

                              <option value="false">Vos connexions seulement</option> -->
                        <option value="false">Privé</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="form-floating">
                      <textarea
                        #contenu
                        class="form-control"
                        placeholder="De quoi voulez-vous parler aujourd'hui ?"
                        id="floatingTextarea"
                        style="min-height: 200px"
                        formControlName="contenu"
                      ></textarea>
                      <label for="floatingTextarea">Text de publication</label>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="form-floating">
                      <!-- <textarea
                        #publicationImageUrl
                        class="form-control"
                        placeholder="Entrez votre lien photo..."
                        id="floatingTextarea"
                        style="min-height: 200px"
                        formControlName="publicationImageUrl"
                      ></textarea> -->
                      <input
                        #publicationImageUrl
                        type="url"
                        name="url"
                        id="url"
                        placeholder="https://example.com"
                        pattern="https://.*"
                        size="30"
                        required
                        class="form-control"
                        id="floatingUrlImgInput"
                        formControlName="publicationImageUrl"
                      />
                      <label for="floatingUrlImgInput"
                        >Url d'image de publication</label
                      >
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    <div class="row">
                      <a class="col-1">
                        <i class="fa fa-camera"></i>
                      </a>
                      <a class="col-1">
                        <i class="fa fa-film"></i>
                      </a>
                      <div class="col-10 text-end">
                        <button
                          class="btn btn-primary rounded"
                          [disabled]="!createPostForm.valid"
                          (click)="addPost()"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          Publier
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
      <!-- fin Modal -->
    </div>
  </div>
</div>
