.containerPost{
  background-color: rgb(119, 119, 119);
  padding:10px 5px;
  border-radius: 5px;
}
.createPostCont{
  margin-top:45px;
}
a{
  text-decoration: none;
  color:black
}
a:hover{
  color:blue
}
.makePostInput{
  cursor: pointer;
}
