.containerPost{
  background-color: #E9E9E9;
  padding:10px 5px;
  border-radius: 5px;
}
.createPostCont{
  margin-top:60px;
}
a{
  text-decoration: none;
  color:black
}
a:hover{
  color:#73C8D5
}
.makePostInput{
  cursor: pointer;
}
.makePostInput:hover{
  border:1px solid #73C8D5
}
.containerPostFirstColLink{
  color: #616161
}
.fa{
  font-size: 170%;
}
.containerPostFirstColSpan{
  font-size: 150%;
}


