.circle1{
  height:550px;
  width:550px;
  border-radius: 50%;
  background-color: #E9E9E9;
  margin-left:35px;
}
.shadow1{
  -moz-box-shadow: 4px 4px 10px #888;
  -webkit-box-shadow: 4px 4px 10px #888;
  box-shadow: 4px 4px 10px #888;
}
.userInfos{
  margin-top:75px;
  margin-left:100px;
}
.namesSpan{
  font-size: 200%;
}
.jobSpan{
  font-size: 150%;
}
.otherInfosSpan{
  max-width: 250px;
}

.circle2{
  background-color: #E9E9E9;
  height:350px;
  width:350px;
  margin-top:50px;
  padding-top:1px;
}
.circle2Cont{
  margin-top:45px;
  max-width: 300px;
  margin-left: 22px;
}

.circle3{
  margin-top:50px;
  margin-left:75px;
  height:300px;
  width:300px;
  background-color: #E9E9E9;
  padding-top:1px;
}
.circle3Cont{
  margin-top:55px;
  margin-left:60px;
  width:175px;
}
.bold{
  font-weight: bold;
}
ul{
  margin:0;
  padding:0
}
.mesInfosBtn{
  background-color: #73C8D5;
}
.mesInfosBtn:hover{
  background-color: #268895;
}
.namesSpan,.jobSpan{
  color: #268895;
}
.circle2Cont h3,.circle2Cont p{
  color: #268895;
}
.circle1Loader{
  margin-top:250px;
  margin-left:240px;
}
.circle2Loader{
  margin-top:150px;
  margin-left:25px;
}
