.circle1{
  height:550px;
  width:550px;
  border-radius: 50%;
  background-color: rgb(134, 109, 109);
  margin-left:35px;
}
.userInfos{
  margin-top:75px;
  margin-left:100px;
}
.namesSpan{
  font-size: 200%;
}
.jobSpan{
  font-size: 150%;
}
.otherInfosSpan{
  max-width: 250px;
}

.circle2{
  background-color: rgb(203, 184, 184);
  height:350px;
  width:350px;
  margin-top:50px;
  padding-top:1px;
}
.circle2Cont{
  margin-top:45px;
  max-width: 300px;
  margin-left: 22px;
}

.circle3{
  margin-top:50px;
  margin-left:75px;
  height:300px;
  width:300px;
  background-color: rgb(143, 129, 129);
  padding-top:1px;
}
.circle3Cont{
  margin-top:55px;
  margin-left:60px;
  width:175px;
}
.bold{
  font-weight: bold;
}
ul{
  margin:0;
  padding:0
}
