<div class="circle1 d-flex shadow1">
  <div
    *ngIf="loadingUser"
    class="userInfos d-flex flex-column text-center align-items-center circle1Loader"
  >
    <span class="spinner-border spinner-border-lg" role="status"></span>
  </div>
  <div
    *ngIf="!loadingUser"
    class="userInfos d-flex flex-column text-center align-items-center"
  >
    <img
    [src]="userInfos?.photoProfilUrl"
      style="width: 70px; height: 70px; border-radius: 50%"
      alt="social-network-logo"
    />
    <span class="namesSpan"
      >{{ userInfos?.firstname }} {{ userInfos?.name }}</span
    >
    <span class="jobSpan">{{ userInfos.actualJob }}</span>
    <span class="otherInfosSpan mt-5">{{ userInfos.description }}</span>
  </div>
</div>

<div class="circle2 rounded-circle shadow1">
  <div
    *ngIf="loadingNetwork"
    class="circle2Cont text-center d-flex flex-column align-items-center circle2Loader"
  >
    <span class="spinner-border spinner-border-lg" role="status"></span>
  </div>
  <div
    *ngIf="!loadingNetwork"
    class="circle2Cont text-center d-flex flex-column align-items-center"
  >
    <h3>Mon réseau</h3>
    <div class="d-flex">
      <span class="fs-5">
      Nombre de connexions :

      </span>
      <span
      class="translate-middle badge rounded-pill redNb text-dark"
    >
      {{ networkInfos.length }}
      </span>
    </div>

    <ul class="d-flex mt-3 sideNavBarUl">
      <li
        class="d-flex flex-column align-items-center mx-2"
        *ngFor="let networkFriend of networkInfos.slice(0, 3)"
      >
        <img
          [src]="networkFriend.photoProfilUrl"
          style="width: 40px; height: 40px"
          alt="social-network-logo"
          class="rounded-circle"
        />
        <span>{{ networkFriend.nomUtilisateur }}</span>
      </li>
      <!-- <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li>
              <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li>
              <li class="d-flex flex-column align-items-center">
                  <img src="../../assets/images/logo.jpg" style="width:40px;height:40px" alt="social-network-logo">
                  <span>Nom Prénom</span>
              </li> -->
    </ul>
    <a routerLink="/network" type="button" class="mx-2 button asideSeeAllNetworkBtn shadow1">
      Voir tout mon réseau
    </a>
  </div>
</div>
<div class="circle3 rounded-circle shadow1">
  <div class="circle3Cont text-center d-flex flex-column align-items-center">
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsam,
      laboriosam maiores laborum quaerat, minus iste iure.</span
    >
  </div>
</div>
