.mesInfosBtn{
  background-color: #73C8D5;
}
.mesInfosBtn:hover{
  background-color: #268895;
}
.monProfilBtn{
  background-color: #F7D75A;
}
.monProfilBtn:hover{
  background-color: #bca33c;
}
.seDeconnecterBtn{
  background-color: #F96D8A;
}
.seDeconnecterBtn:hover{
  background-color: #b11c3a;
}
.activateBtn{
  background-color: #A4D379;
}
.activateBtn:hover{
  background-color: #70a042;
}
button{
  font-size:125%;
}
