.mesInfosBtn{
  background-color: #73C8D5;
}
.mesInfosBtn:hover{
  background-color: #268895;
}
.monProfilBtn{
  background-color: #A4D379;
}
.monProfilBtn:hover{
  background-color: #477819;
}
.seDeconnecterBtn{
  background-color: #F96D8A;
}
.seDeconnecterBtn:hover{
  background-color: #b11c3a;
}
button{
  font-size:125%;
}
