.selectBtnForPosts{
  border:none;
  max-width: 125px;
}
.hr{
  border-top:1px solid gray;
  margin-top:20px;
  width:100%;
  height: 5px;
}
.postCont{
  background-color: #73C8D5;
  padding: 10px 5px 0 5px;
  border-radius: 5px;
}
ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}
a{
  text-decoration: none;
  color:black
}
.commentsCont{
  background-color: lightblue;
  border-radius: 5px;
}
.postDatePublication{
  font-size:125%;
}
.bottomPostLink:hover{
  color:aliceblue
}
.bottomPostLink .fa{
  font-size:200%
}
.bottomPostLink span{
  font-size:130%
}
.bottomPostBtn{
  color:#95979A;
  border-color:#95979A
}
.bottomPostBtn:hover{
  background-color: white;
  border-color:white;
  color:#73C8D5
}
.commentsLink{
  text-decoration: none;
  color:#7b7c7e;
}
.commentsLink:hover{
  cursor:pointer
}
.postsLoader{
  width:8rem;
  height:8rem;
}
.fa-camera:hover{
  color:rgb(65, 65, 65)
}
.fa-film:hover{
  color:rgb(65, 65, 65)
}
.postContentCont{
  font-size:170%;
  background-color: white;
  border-radius: 10px;
  padding: 25px 30px 15px 30px;
}
.text-14{
  font-size: 14px;
}
.paddingForUserPost{
  padding-top:10px;
}


