.search-bar {
  width: 400px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  /* z-index: -1; */
}

.input-group.search-box {
  align-content: center;
}

.form-control.search {
  height: 50px;
  outline: none !important;
  box-shadow: none;
}

.search-bar .input-group {
  width: 100%;
}

.search-area:focus,
.search-area:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: none;
}
.search-button {
  height: 50px;
  background-color: #158eff;
  outline: none !important;
  box-shadow: none;
  border: none;
}

.btn.search-button:hover,
.btn.search-button:active {
  background-color: #158eff;
  border-color: inherit;
  -webkit-box-shadow: none;
  outline: none !important;
  box-shadow: none;
  border: none;
}

.btn.search-button:disabled {
  background-color: #158eff;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}


.sideNavBar{
  background-color: #E9E9E9;
  border-radius: 5px;
}
.sideNavBar.fixed{
  position:fixed;
  top:0;
  z-index:1000;
  height:100%;
}


.btn{
  color:white;
  font-weight: bold;
  width:200px;
}
.addConnectionBtn{
  background-color: #A9DA7D;
}
.addConnectionBtn:hover{
  background-color: #6c9e3f;
}
.connectedBtn{
  background-color: #75CAD7;
}
.connectedBtn:hover{
  background-color: #36838f;
}
.inWaitingBtn{
  background-color: #939598;
}
.inWaitingBtn:hover{
  background-color: #4e4f51;
}
.seeProfileBtn{
  background-color: #75CAD7;
}
.seeProfileBtn:hover{
  background-color: #36838f;
}
.networkCont.readjust{
  margin-left:8.3%;
}

